.container{
	width: 100%;
	/* height: 100%;  */
	padding: 1vh;
	max-width: 1280px;

	display: grid;
	grid-template-columns: 2fr 7fr;
	grid-template-rows: minmax(6vh, min-content) minmax(300px, 1fr) minmax(6vh, min-content);
	grid-gap: 1vh;
}

.container > *{
	background-color: #315297;
	border-radius: 1vw;
	color: #dddddd;
	padding: 20px;
}

.container.small{
	grid-template-columns: 1fr 1fr;
}

.container.small > * {
	background-color: #315297;
	border-radius: 1vw;
	color: #dddddd;
	padding: 1vh;
}

.menuToggler{
	grid-column: 1/2;
	width:100%;
	height:100%;
	cursor: pointer;

	display: flex;	
	justify-content: center;
	padding: 0;
}

.menuToggler > label{
	width: 100%;
	font-size: 8vw;
	text-align: center;
}

.configToggler{
	grid-column: 2/3;
	width:100%;
	height:100%;
	cursor: pointer;

	display: flex;	
	justify-content: center;
	padding: 0;
}

.configToggler > label{
	width: 100%;
	font-size: 8vw;
	text-align: center;
}

.container.small > .content{
	grid-column: 1/-1;
	padding:0;
	width: auto;
	height: 100%;
	background-color: transparent;

	display: flex;
	flex-direction: row;

	overflow-x: hidden;
}

.menu-container{
	padding: 5px;
	grid-column: 1/-1;
}

.config-panel-container{
	grid-column: 1/2;
}

.menu-container.small,
.config-panel-container.small{
	height: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	
	display: flex;
	align-items: center;
	background-color: #315197;
}

.menu-container.small{
	border-right: 1px solid white;
}

.config-panel-container.small{
	border-left: 1px solid white;
}

.sketch-container{
	grid-column: 2/3;
	grid-row: 2/3;
	width: 100%;
	background-color: #315197;
	padding: 0;
	
	display:flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.sketch-container.small{
	height: 100%;
	flex: 1 0 100%;
}

.description{
	width: 100%;
	grid-column: 1/-1;
	grid-row: 3/4;
}