:root {
	--slider-height : 1em;
	--slider-thumb-width: 2em;
}
.slider {
	-webkit-appearance: none;
	background: transparent;
	margin: 0;
	width: 100%;
	font-size: 1em;
	/*font-size: 40%;   /* WTF Firefox?????????????? */
}
.slider:focus {
	outline: none;
}
.slider::-moz-focus-inner,
.slider::-moz-focus-outer {
	border: 0;
  }

/*      ----  WEBKIT  ----     */

.slider::-webkit-slider-runnable-track {
	width: 100%;
	height: calc(var(--slider-height) * 0.3);
	cursor: pointer;
	border-radius: 5px;
	background: #ffffff77;
}
.slider::-webkit-slider-thumb {
	height: var(--slider-height);
	width: var(--slider-thumb-width);
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: calc(var(--slider-height) * -0.3);
}
.slider:focus::-webkit-slider-runnable-track {
	background: #ffffffdd;
}

/*      ----  MOZ  ----     */

.slider::-moz-range-track {
	width: 100%;
	height: calc(var(--slider-height) * 0.3);
	cursor: pointer;
	background: #ffffff77;
	border-radius: 5px;
	box-sizing: border-box;
}
.slider::-moz-range-thumb {
	border: 0px solid #000000;
	height: var(--slider-height);
	width: var(--slider-thumb-width);
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	box-sizing: border-box;
}

.slider:focus::-moz-range-track {
	background: #ffffffdd;

}

/*      ----  MS  ----     */

.slider::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
.slider::-ms-fill-lower {
	background: #ffffff88;
	border-radius: 5px;
	
}
.slider::-ms-fill-upper {
	background: #ffffff88;
	border-radius: 5px;
	
}
.slider::-ms-thumb {
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}
.slider:focus::-ms-fill-lower {
	background: #ffffffcc;
}
.slider:focus::-ms-fill-upper {
	background: #ffffffcc;
}

.slider-container{
	line-height: 0.8em;
	margin-bottom: 1.2em;
}

.slider-label{
	margin: 0.1em;
	font-size: 14px;
	font-weight: bolder;
	
}